<a class="button" href="/">Home</a>
<a class="button" href="/landmarks">All Landmarks</a>


<h1>Edit <%= @landmark.name %></h1>

<form action="/landmarks/<%=@landmark.id%>" method="POST">
        <input type="hidden" name="_method" value="patch">
        <label>Landmark Name</label>
        <input type="text" id="name" name="landmark[name]" value=<%=@landmark.name%>>
        <label>Landmark Year Completed</label>
        <input type="text" id="year_completed" name="landmark[year_completed]" value=<%=@landmark.year_completed%>>
        <br>
				<input type="submit" value="Edit Landmark" class="button">
</form>