<a class="button" href="/landmarks">Landmarks</a>
<a class="button" href="/">Home</a>

<a class="button" href="/figures">All Figures</a>
<a class="button" href="/">Home</a>
<h1>Create a new landmark</h1>

<form action="/landmarks" method="POST">
        <h1>Create a Landmark</h1>
        <br>
        <label>Landmark Name</label>
        <input type="text" id="landmark_name" name="landmark[name]">
        <br>
        <label>Year Completed</label>
        <input type="text" id="landmark_year_completed" name="landmark[year_completed]">
        <br>
        <input type="submit" value="Create New Landmark" class="button">
</form>