<a class="button" href="/">Home</a>
<a class="button" href="/landmarks">All Landmarks</a>
<h1>Historical Landmark: <%= @landmark.name %></h1>
<div style="overflow-x:auto;">
	<table>
	  <tr>
	    <th>Name</th>
	    <th>Year Completed</th>
	  </tr>
	  <tr>
	    <td><%= @landmark.name %></td>
	    <td><%= @landmark.year_completed %></td>
	  </tr>
	<table>
</div>
<br><br>
<a class="button" href="/landmarks/<%= @landmark.id %>/edit">Edit Landmark</a><br>

