<h1>All Figures</h1>
<ul>
<% @figures.each do |figure| %>
  <li><a href="/figures/<%= figure.id %>"><%= figure.name %></a></li>
<% end %>
</ul>
<br>
<br>
<a class="button" href="/landmarks">Landmarks</a><br>