<!DOCTYPE html>
<html>
  <head>
      <title>NYC Historic Landmarks</title>
      
    <!--
     Frank Sinatra

  "The old crooner himself:"
       QB"   .  . ....^FBQQBQBQ
       #^   ..../,, ,/yyBQBDBt`"B
     B"  ._L_yQ&Qy&&QQBQQDlL;S; (Q
    B^   /DQQQBQQQQQQBQBDQQD1:   "B
   Q~   ,GQBDQDQQQQQQBBQQDQ&EC    7B
   D    lQQQQQBQBQQQQQQQQBBID('    {
   E   .iDDBQQBQQQQBBBQBQQDQ1!:    (
   3   .(BQBBQBBQQQQBBQBBBDBS'     }                     I'm
   Q   '~~<MMBQQBBQBP"""<BD1EL.    Q                   dreaming
   Q    LuL `7QBBB?../LL;.!JDL     Q                    of a
  "  ,  ,__&L.DBBEEL1L_,'EylEE!  ,U                     white
  1 :s&yyQQQ6-DQBBQ&QQQQQQQQJY!  lyB1Q                Christmas.
  S  ?DDQQBD'.QQBDQDBQBQQQDD1<  LIQDG
  Q   j8BQE2 LQQBE9EBBEBQQES{! /BQSE
   Q_ 'TS7L  <#P~^,G1?TXC3({!  3PEy
    Q, ,_>'.,___yBD1DU;,'('''  yQ
     L "Qy,  'IIIZl',L/&;!;:  LQ
     Q; FD(  (`IE2L/QDB&lY!   6Q
      Q, (/. `!?"21iQDU&/~   L FB
       Q_ (EL/&&QDBQBDJ"   ,y^  `FB
        Qy 75EEBBQESf`   _yB^      "M
        Q7  `'^""~`   _yQQM'         `"FQ
        F;         _yQQQQF              Q
  -->
    <STYLE type="text/css">
        H1 {border-color: grey; border-radius: 15px; border-width: 1px 1px 0px 0px;; border: dotted; text-align: center}
        table {width: 50%;}
        th, td {
                  border-bottom: 1px solid #ddd;
                  padding: 15px;
                  text-align: left;
                  height: 20px;
                }
        .button {
                  background-color: navy;
                  border: none;
                  color: white;
                  padding: 15px 32px;
                  text-align: center;
                  text-decoration: none;
                  display: inline-block;
                  font-size: 16px;
                }
    </STYLE>
  </head>
  <body>
    <%= yield %>
  </body>

</html>
